.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0;
}

.navbar-brand {
	padding:0;
	margin: 5px 0;
	width:150px;
}
.search {
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
}
.navbar-brand img {
	height:40px;
}
 .poc-label {
 	display:inline;float:right;margin-top:-5px;
 }

.customer-info {
	padding-left:10px
}

.avatar {
	width:40px;
	height:40px;
}